
					<footer id="footer1">

						<hr>

						<ul id="icons01" class="icons center">
							<li>
								<a class="socialButton" href="https://www.youtube.com/channel/UCpmHyQPtSL3OYHP2wCFe9Fw">
									<svg><use xlink:href="/assets/icons.svg#youtube"></use></svg>
									<span class="label">YouTube</span>
								</a>
							</li><li>
								<a class="socialButton" href="https://facebook.com/ComputerHelpNI">
									<svg><use xlink:href="/assets/icons.svg#facebook"></use></svg>
									<span class="label">Facebook</span>
								</a>
							</li><li>
								<a class="socialButton" href="https://www.linkedin.com/in/david-rand-msc/">
									<svg><use xlink:href="/assets/icons.svg#linkedin"></use></svg>
									<span class="label">LinkedIn</span>
								</a>
							</li><li>
								<a class="socialButton" href="tel:028-4321-8180">
									<svg><use xlink:href="/assets/icons.svg#phone"></use></svg>
									<span class="label">Phone</span>
								</a>
							</li><li>
								<a class="socialButton" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%68%65%6c%70%64%65%73%6b%40%63%6f%6d%70%75%74%65%72%68%65%6c%70%6e%69%2e%63%6f%2e%75%6b">
									<svg><use xlink:href="/assets/icons.svg#email"></use></svg>
									<span class="label">Email</span>
								</a>
							</li>
						</ul>

						<p class="PageFooter">Copyright © {{ 'now' | date: "%Y" }} Computer Help Northern Ireland.
							All rights reserved. <a href="/#privacy">Privacy Policy</a><br/>
							6 Downs Road, Newcastle, BT33 0AG<br/><a href="tel:028-4321-8180">028-4321-8180</a></p>
							
					</footer>
