
					<header id="navButtons">
						<ul id="buttons01" class="buttons">
							<li>
								<a href="/#home" class="button n01">Home</a>
							</li><li>
								<a href="/#services" class="button n02">Services</a>
							</li><li>
								<a href="/#blog" class="button n03">Blog</a>
							</li><li>
								<a href="https://www.youtube.com/channel/UCpmHyQPtSL3OYHP2wCFe9Fw" class="button n04">Videos</a>
							</li><li>
								<a href="/#about" class="button n05">About</a>
							</li>
						</ul>
					</header>
